name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - '20.x'

    steps:
      - uses: actions/checkout@v5
      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install --production=false
      - run: npm run build --if-present
      - run: npm test
        env:
          IMMICH_BASE_URL: ${{ secrets.IMMICH_BASE_URL }}
          IMMICH_API_KEY: ${{ secrets.IMMICH_API_KEY }}
          IMMICH_TEST_ALBUM_TITLE: ${{ secrets.IMMICH_TEST_ALBUM_TITLE }}
          IMMICH_TEST_ALBUM_DESCRIPTION: ${{ secrets.IMMICH_TEST_ALBUM_DESCRIPTION }}
          IMMICH_TEST_IMAGE_DESCRIPTION: ${{ secrets.IMMICH_TEST_IMAGE_DESCRIPTION }}
          IMMICH_TEST_IMAGE_UUID: ${{ secrets.IMMICH_TEST_IMAGE_UUID }}
          IMMICH_TEST_ALBUM_UUID: ${{ secrets.IMMICH_TEST_ALBUM_UUID }}
