name: NPM Publish

on:
  push:
    tags:
      - v*

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v2
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm test
        env:
          IMMICH_BASE_URL: ${{ secrets.IMMICH_BASE_URL }}
          IMMICH_API_KEY: ${{ secrets.IMMICH_API_KEY }}
          IMMICH_TEST_ALBUM_TITLE: ${{ secrets.IMMICH_TEST_ALBUM_TITLE }}
          IMMICH_TEST_ALBUM_DESCRIPTION: ${{ secrets.IMMICH_TEST_ALBUM_DESCRIPTION }}
          IMMICH_TEST_IMAGE_DESCRIPTION: ${{ secrets.IMMICH_TEST_IMAGE_DESCRIPTION }}
          IMMICH_TEST_IMAGE_UUID: ${{ secrets.IMMICH_TEST_IMAGE_UUID }}
          IMMICH_TEST_ALBUM_UUID: ${{ secrets.IMMICH_TEST_ALBUM_UUID }}
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
